body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.heading-color {
    color: orange;
}

.menu {
    text-align: right;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    padding: 05px 10px;
    color: #FA6D59;
    font-weight: 600;
    border: 2px solid #fff;
}

.menu ul li a:hover {
    border-bottom: 2px solid #FA6D59
}

.flexible-container {
    display: flex;
    padding-bottom: 150px;
}

.half-width {
    width: 50%;
    padding: 3%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(to right, rgb(255, 153, 116), rgb(255, 105, 76));
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.top-banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: lightblue;
}

.dream-big .half-width {
    padding-right: 5%;
}

.experiences-area {
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experiences-item {
    box-shadow: 10px 10px 40px black;
    width: 40%;
    margin: 0 5%;
    border-left: 5px solid;
    padding-left: 20px;
}

#full-stack-experiences-item {
    border-image: linear-gradient(rgb(255, 153, 116), rgb(255, 105, 76), yellow)50;

}

#web-dev-experiences-item {

    border-image: linear-gradient(blue, cyan);
    border-image-slice: 50;

}

footer p {
    text-align: center;
}